body,
button,
input,
textarea {
	font-family: 'SegoeUI', sans-serif;
	font-weight: 200;
}

section {
	overflow: hidden;
}

.top-seo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.seo-content__l {
	max-width: 430px;
	margin-top: 70px;
	position: relative;
	z-index: 2;
}

.seo-content__l h1 {
	margin-bottom: 10px;
	/* padding: 1px 10px 1px 6px; */
	color: #000;
	font-family: 'PlumbBlack', sans-serif;
	font-size: 40px;
	line-height: 1.4;
	text-transform: uppercase;
}

.seo-content__l h1 span {
	/* margin-right: 70px; */
	margin-left: -6px;
	padding: 1px 10px 1px 6px;
	background: #f8bf12;
	border-radius: 4px;
	line-height: 1.4;
}

.seo-content__l .desc {
	font-size: 21px;
	line-height: 1.4;
	max-width: 340px;
}

.seo-content__l .desc__main {
	margin-bottom: 25px;
	font-size: 17px;
	line-height: 1.3;
}

.seo-content__l .desc__main span {
	font-weight: 600;
}

.seo-content__l .line {
	background-image: url('../images/line.png');
	display: inline-block;
	height: 11px;
	margin: 27px 0;
	width: 71px;
}

.seo-content__l .btn-seo {
	position: relative;
	max-width: 300px;
	font-family: 'PlumbBlack', sans-serif;
	color: #000;
	font-size: 16px;
	text-transform: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.seo-content__l .btn-seo::after {
	content: '';
	position: absolute;
	top: 10px;
	right: -45px;
	width: 25px;
	height: 22px;
	background-image: url('/images/seo-sprite.png');
	background-repeat: no-repeat;
	background-position: -1px -192px;
}

.seo-content-r {
	position: relative;
	z-index: 1;
}

.man {
	margin-bottom: -2px;
}

.man img {
	width: 100%;
}

.man__seo {
	position: absolute;
	top: 84px;
	left: -184px;
	color: #333333;
	max-width: 300px;
	padding: 28px;
	background-color: #F6F6F6;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: -1;
}

.man__seo::after {
	content: '';
	position: absolute;
	top: 16px;
	right: -33px;
	background-image: url('/images/seo-arrow.png');
	background-repeat: no-repeat;
	background-size: 33px;
	width: 33px;
	height: 25px;
}

.man__seo .man__title {
	font-family: 'PlumbBlack', sans-serif;
	font-size: 19px;
	margin-bottom: 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.man__list li {
	position: relative;
	margin-left: 20px;
	margin-bottom: 7px;
	font-size: 17px;
	line-height: 1.4;
	font-weight: 300;
}

.man__list li:last-child {
	margin-bottom: 0;
}

.man__list li::before {
	content: '';
	position: absolute;
	top: 9px;
	left: 0;
	margin-left: -20px;
	width: 12px;
	height: 9px;
	background: url('../images/seo-sprite.png') no-repeat -1px -219px;
	/* background-size: 12px; */
}

.man__label {
	position: absolute;
	bottom: 187px;
	right: 18px;
}

.man__name {
	position: relative;
	margin-right: 12px;
	padding: 18px 28px;
	z-index: 2;
	/* display: inline-block; */
	font-family: 'PlumbBlack', sans-serif;
	color: #333333;
	font-size: 18px;
	background-color: #fff;
	border-radius: 7px 7px 0 7px;
	/* border: 1px solid #000; */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 1px 6px 0px #c1c1c16b;
	box-shadow: 0px 1px 6px 0px #c1c1c16b;
}

.man__position {
	position: relative;
	margin-top: -1px;
	margin-left: 12px;
	padding: 11px 14px 14px;
	z-index: 1;
	/* display: inline-block; */
	font-size: 17px;
	background-color: #F3F3F4;
	color: #999999;
	border-radius: 0 7px 7px 7px;
}

.section-graph {
	min-height: 260px;
	background-color: #F6F6F6;
}

.graph__items {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	z-index: 1;
	-webkit-transform: translateY(-48%);
	-ms-transform: translateY(-48%);
	transform: translateY(-48%);
}

.graph__item {
	width: 270px;
	min-height: 220px;
	border: 1px solid #E9EAEB;
	border-radius: 8px;
	background-color: #ffffff;
	padding: 10px 7px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-right: 10px;
	margin-bottom: 25px;
}

.graph__item:last-child {
	margin-left: 0;
}

.graph__item:hover {
	-webkit-box-shadow: 0 2px 6px 1px #dbdbdb;
	box-shadow: 0 2px 6px 1px #dbdbdb;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.graph__item-img {
	width: 250px;
	height: 140px;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.graph__item-img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.graph__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 47px;
	padding: 5px 12px;
	font-size: 17px;
	line-height: 1.3;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media(max-width: 1150px) {
	.man {
		width: 404px;
	}

	.man__seo {
		left: -237px;
	}

	.man__label {
		bottom: 79px;
	}

	.graph__items {
		-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
		-webkit-transform: translateY(-9%);
		-ms-transform: translateY(-9%);
		transform: translateY(-9%);
	}
}

@media(max-width: 960px) {
	.graph__items {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		/* margin: 25px; */
	}

	.graph__item {
		margin: 10px
	}

	.graph__item:last-child {
		margin: 10px;
	}
}

@media(max-width: 1080px) {

	.man__seo {
		top: 61px;
	}

	.seo-content-r {
		margin-top: 244px;
	}

	.top-seo {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.graph__items {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		padding: 50px 0;
	}

	.man__label {
		bottom: 60px;
	}

	.man {
		width: 427px;
		position: relative;
	}

	.seo-content__l {
		margin-top: 10px;
	}

	.section-graph {
		position: relative;
	}

	.man img {
		z-index: 3;
	}

	.graph__item:last-child {
		margin-bottom: 0;
	}

	.seo-content__l .btn-seo {
		margin-bottom: 30px;
	}


	.seo-content__l .line {
		margin-bottom: 389px;
	}

}

@media(max-width: 880px) {

	.seo-content-r {
		position: absolute;
		right: 7%;
	}

	.seo-content__l .line {
		margin-bottom: 568px;
	}

	.section-graph {
		margin-top: -178px;
	}

	.graph__items {
		padding-top: 171px;
	}

	.seo-content__l {
		text-align: center;
	}

	.man__seo {
		left: -216px;
	}

	.seo-content__l .desc {
		text-align: left;
	}

	.seo-content__l>h1:nth-child(1) {
		text-align: left;
	}

}

@media(max-width: 800px) {
	.seo-content__l h1 {
		font-size: 34px;
	}

	.seo-content__l .desc {
		font-size: 19px;
	}

	.man {
		width: 347px;
	}

	.man__seo {
		top: -15px;
	}

	.seo-content-r {
		margin-top: 297px;
	}


	.man__list li {
		font-size: 15px;
	}

	.man__list li::before {
		top: 7px;
	}

	.man__seo::after {
		top: 131px;
	}

	.seo-content__l .line {
		margin-bottom: 542px;
	}

	/* .seo-content__l>h1:nth-child(1) {
		text-align: center;
	} */

	.seo-content__l .desc {
		/* text-align: center; */
		max-width: 100%;
	}

}

@media(max-width: 720px) {
	.seo-content-r {
		right: 0;
	}

	.man__seo {
		left: -161px;
	}

	.graph__item {
		width: 100%;
		max-width: 480px;
	}

	.graph__item-img {
		width: 100%;
		height: auto;
	}
}

@media(max-width: 480px) {

	.seo-content__l .line {
		margin-bottom: 726px;
	}

	.seo-content-r {
		margin-top: 558px;
	}

	.seo-content__l .desc__main {
		max-width: 300px;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.man__seo {
		top: -277px;
	}

	.man {
		width: 291px;
	}

	.man__seo::after {
		top: 320px;
	}

	.man__seo {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.seo-content-r {
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}

	.seo-content__l h1 {
		font-size: 34px;
	}

	.man__seo::after {
		right: 45px;
		-webkit-transform: rotate(121deg);
		-ms-transform: rotate(121deg);
		transform: rotate(121deg);
	}

	.man__label {
		bottom: 20px;
	}


	.man__seo {
		width: 100%;
	}

	.seo-content__l h1 {
		font-size: 28px;
		padding: 0 11px;
	}

	.seo-content__l .line {
		margin-bottom: 723px;
	}

	.seo-content-r {
		margin-top: 535px;
	}


	.seo-content__l .desc__main {
		font-size: 15px;
	}

	.section-graph {

		margin-top: -177px;
	}


}

@media(max-width: 320px) {
	.seo-content-r {
		margin-top: 574px;
	}
}


/* --------section calc----------- */
.calc-content {
	background-color: #F6F6F6;
	border-top: 1px solid black;
}
.progress-bar {
	display: flex;
	margin-bottom: 15px;
}
.steps__bar {
	margin-bottom: 27px;
	color: #333333;
}
.step__item h4 {
	margin-bottom: 15px;
	font-family: 'PlumbBlack', sans-serif;
	font-size: 26px;
	position: relative;
}
#step-6 h4 {
	padding-left: 40px;
	margin-top: 26px;
}
#step-6 h4::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	top: 1px;
	background-image: url('/images/seo-sprite.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}
.calc__block-desc {
	margin-bottom: 55px;
}

.calc__wrap{
	min-height: 470px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}
.p-bar__item {
	width: 100%;
	max-width: 100px;
	height: 5px;
	background-color: #e3e3e3;
	margin-right: 10px;
	box-sizing: border-box;
	border-radius: 6px;
}
.step__items {
	position: relative;
	height: 100%;
	min-height: 470px;
  max-width: 770px;
  background-color: #fff;
  border-radius: 8px;
  padding: 34px 70px;
  box-sizing: border-box;
	width: 100%;
	margin-right: 28px;
}
.step-active {
	display: block;
}
.step-done,
.step-current{
	background-color: #f8bf12;
}
.check__items {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
}

.input__item {
	width: 302px;
	height: 50px;
	margin-bottom: 10px;
	border-radius: 8px;
	background-color: #F6F6F6;
	padding: 0 25px;
	color: #333333;
	font-size: 17px;
	font-weight: 200;
}
.check__item {
	width: 302px;
	height: 50px;
	margin-bottom: 10px;
	border-radius: 8px;
	display: flex;
	background-color: #fff;
	align-items: center;
	cursor: pointer;
	position: relative;
	box-shadow: 0 2px 21px 1px rgba(225, 225, 225, 0.37), 0 1px 1px 0px rgba(225, 225, 225, 0.26);
	box-sizing: border-box;
}
.check__item:hover {
	box-shadow: 0 2px 21px 1px rgba(225, 225, 225, 0.37), 0 1px 1px 0px rgb(225, 225, 225);
}
.master__inner {
	max-width: 372px;
	height: 100%;
	min-height: 470px;
	background-color: #fff;
	border-radius: 8px;
	padding: 27px 35px;
	box-sizing: border-box;
}
.master__inner ul li {
	position: relative;
	padding-left: 35px;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 8px;
}
.master__inner ul li::before{
	position: absolute;
	content: '';
	top: 5px;
	left: 11px;
	width: 15px;
	height: 16px;
	background-image: url('/images/seo-sprite.png');
	background-repeat: no-repeat;
	background-position: 0 -282px;
}
.master__calc {
  display: flex;
	align-items: center;
	box-sizing: border-box;
	margin-bottom: 18px;
}
.master__img {
	width: 84px;
	height: 84px;
	border-radius: 50%;
	overflow: hidden;
	box-sizing: border-box;
	margin-right: 18px;
}
.master__img img{
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.master-mess {
	position: relative;
  padding: 20px 26px;
  background-color: #fef7e2;
  border-radius: 8px;
	min-height: 117px;
	margin-bottom: 28px;
	color: #282828;
	font-size: 15px;
	line-height: 1.5;
	z-index: 2;
}
.master-mess::before {
	position: absolute;
	content: '';
	width: 30px;
	height: 21px;
	top: -21px;
	left: 79px;
	background-image: url('/images/seo-sprite.png');
	background-repeat: no-repeat;
	background-position: 0 -121px;
	z-index: 0;
}
.master__name {
	font-size: 17px;
	font-family: 'PlumbBlack', sans-serif;
	margin-bottom: 10px;
}
.master__position {
	font-size: 15px;
	color: #aaaaaa;
}
.step-button__inner {
	/* position: absolute; */
	/* bottom: 33px; */
	margin-top: 7px;
}

.btn-step {
	text-transform: none;
	font-size: 16px;
	font-family: 'PlumbBlack', sans-serif;
	color: #000;
	height: 50px;
	width: 200px;
}
#prev-step {
	font-size: 16px;
	font-family: 'PlumbBlack', sans-serif;
	color: #cccccc;
	background: none;
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 0;
	margin-left: 30px;
	cursor: pointer;
}
#prev-step:hover{
	color: #000;
	border-bottom: 1px solid #000;
}

.check__item input {
	opacity: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.radio__text {
	position: relative;
	padding-left: 57px;
	color: #333333;
	font-size: 17px;
	font-weight: 200;
}
.radio__text::before {
	position: absolute;
	top: 50%;
	left: 13px;
	content: '';
	width: 30px;
	height: 30px;
	background-color: #fff;
	opacity: 1;
	border-radius: 50%;
	border: 1px solid #E4E7E9;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	background-position: 8px -233px;
}
.check__item input:checked+.radio__text::before {
	/* background-color: #000; */
	background-image: url('/images/seo-sprite.png');
}
.form-seo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 339px;
}

.form-seo .form__field {
	width: 200px;
	height: 50px;
	background: none;
	border: 1px solid #CFCFCF;
	font-size: 16px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.submit__desc {
	font-size: 13px;
	color: #cccccc;
}
.from-submit__inner {
	display: flex;
	flex-direction: column;
}
.from-submit__inner .btn-step {
	margin-bottom: 15px;
}
.phone-choice {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 10px;
}
.phone-choice__item {
	width: 64px;
	height: 50px;
	/* border: 1px solid #CFCFCF;
	border-radius: 6px; */
	box-sizing: border-box;
	margin-right: 3px;
	position: relative;
}
.phone-choice__span {
	border: 1px solid #CFCFCF;
	border-radius: 6px;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.phone-choice__item input {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 1;
	opacity: 0;
}
.phone-choice__item::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('/images/seo-sprite.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}
.phone-choice__item:nth-child(1)::before {
	background-position: 0 -50px;
}
.phone-choice__item:nth-child(2)::before {
	background-position: 0 -25px;
}
.phone-choice__item:nth-child(3)::before {
	background-position: 0 -73px;
}

.phone-choice__item input:checked+.phone-choice__span {
	border: 2px solid #FFC000;
	/* background-color: #000; */
	/* background-image: url('/images/check-seo.png'); */
}

.step__item-desc {
	margin-bottom: 24px;
}
#qus-text {
	/* display: none; */
	position: absolute;
	top: 38px;
	left: 168px;
	width: 200px;
	min-height: 80px;
	border-radius: 6px;
	border: 1px solid #CFCFCF;
	background-color: #fff;
	z-index: 2;
	padding: 10px;
	box-shadow: 0px 1px 6px 0px #c1c1c16b;
}
#qus {
	position: relative;
	width: 25px;
	height: 25px;
	z-index: 2;
	margin-left: 5px;
}
.qus-show {
	display: block !important;
}
#qus::before {
	position: absolute;
	right: 4px;
	top: 5px;
	content: '';
	width: 21px;
	height: 20px;
	background-image: url('/images/seo-sprite.png');
	background-repeat: no-repeat;
	background-position: 0 -100px;
	cursor: pointer;
	z-index: 2;
}

@media(max-width: 1180px) {
	.check__items {
  	justify-content: center;
	}
}
@media(max-width: 890px) {
	.step__items {
  padding: 28px 38px;
	}
}
@media(max-width: 800px) {

.calc__wrap {
  flex-wrap: wrap;
}

.step__items {
  max-width: 320px;
  margin-right: 20px;
}

.master__inner {
  max-width: 320px;
  padding: 27px 12px;
}

.master-mess {
  padding: 18px 23px;
}

.check__item,
#step-3-text {
  width: 280px;
}

#prev-step {
  margin-left: 0;
  margin-top: 20px;
}
}
@media(max-width: 670px) {
  .step__items {
    margin-right: 0;
    margin-bottom: 20px;
  }
	.calc__block-desc {
		margin-bottom: 37px;
	}
}